body {
    background-image: url("https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Sunset%20Storm%20Background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.col-md-9.col-xs-12,
div.container.main {
    background-color: #143C54 !important;
    border: 4px double #91AFC2 !important;
}
