/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/


/* FONT (From Google Fonts) */


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');


/* BACKGROUND */


body {
	background: url('https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/refs/heads/main/Sunset%20Storm%20Background.avif') center center fixed !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	color: #2e2a2b;
}


/* MAIN PANEL */


/* RIGHT SIDE */
.container.main {
	background: rgba(1, 1, 1, 0.5);
	border: none;
	box-shadow: none;
	border-radius: 10px
}


/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}


/* TOPBAR ("Welcome back, ___") */


.topbar {
	background: rgba(1, 1, 1, 0.5);
	border: none;
	border-top: none;
	color: #000000;
	border-radius: 10px;
}


/* NAVBAR (Den/Crossroads/Etc.) */


.navbar {
	background: rgba(1, 1, 1, 0.5);
	border-bottom: none;
	color: #000000;
	border-radius: 10px
}


/* NAVBAR BUTTON TEXT COLOR */


.navbar li a {
	color: #000000 !important
}


/* NAVBAR BUTTON HOVER */


.navbar li a:hover {
	background: rgba(1, 1, 1, 0.5) !important;
	border-bottom: none;
	color: #000000 !important;
	border-radius: 10px
}


/* BREADCRUMB (Home / Den) */


.breadcrumb {
	background: rgba(1, 1, 1, 0.5) !important;
        border: none;
	border-radius: 10px
}


/* BREADCRUMB TEXT */


.breadcrumb .active {
	color: #000000
}


/* CSS CREDIT */


.breadcrumb::after {
        content: "Layout by PantheraGamer";
        color: #000000;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }


@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }


/* BOOKMARK BUTTON */


input.floatright, input.floatright:hover {
	background: rgba(1, 1, 1, 0.5) !important;
        border: none !important;
	border-radius: 0px;
	color: #000000 !important;    
}


/* SWITCH ACCOUNT BUTTON */


button.button, button.button:hover {
	background: rgba(1, 1, 1, 0.5);
        border: none !important;
	border-radius: 0px;
        text-shadow: none !important;
	color: #000000 !important
}


/* ALERTS (ie. "Your lionesses have returned from hunting!") */


.alert,
.alert-warning,
.alert-danger {
	background: rgba(1, 1, 1, 0.5) !important;
	border: none;
	color: #000000;
	border-radius: 10px !important
}


/* BIGGEST HEADER ("___"'s DEN) */


h1 {
	color: #000000;
	font-size: 90px;
	text-align: center;
        font-family: 'Quicksand', sans-serif;
}




/* MEDIUM HEADER */


h2 {
	color: #000000;
	font-size: 24px;
	text-align: center
}




/* SMALL HEADER */


h3 {
	color: #000000 !important;
	font-size: 14px !important
}


/* RIGHT SIDE PANEL HEADER */


.sidebar h3 {
	color: #000000 !important;
        font-size: 26px !important;
        font-family: 'Quicksand', sans-serif;
}


/* RIGHT SIDE PANELS */
.panel {
	background: rgba(1, 1, 1, 0.5) !important;
	box-shadow: none !important;
	border: none !important;
	color: #000000 !important;
	border-radius: 10px
}


/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(1, 1, 1, 0.5);
	color: #000000 !important;
	border-radius: 10px !important
}


/* ENERGY BAR COLOR */
.progress-bar {
	background: rgba(1, 1, 1, 0.5);
	color: #000000 !important;
	border-radius: 10px !important
}


/* ENERGY BAR TEXT */
.progress div {
	color: #000000 !important
}


/* CHAT */


.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}


.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}


.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}


.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}


div#chatMessageContainer {
	border: none !important;
}


button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */




/* PANEL BACKGROUND COLOR */


.table {
	background: rgba(1, 1, 1, 0.5);
	border: none !important;
	border-collapse: separate;
	border-radius: 10px
}




/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */


.top,
.bottom,
th {
	background: rgba(1, 1, 1, 0.5) !important;
	color: #000000 !important;
	border-radius: 10px
}


td.bottom a {
        text-decoration: none !important
}


/* Color behind "Level, Stats, Branch, Territory" etc. */


.inner-table .left {
	background: rgba(155, 226, 242, 0.6) !important;
        color: #2e2a2b;
	border-radius: 10px
}




/* Color behind the number of all of the things above */


.inner-table .right {
	background: none;
	border-radius: 10px !important
}


td.right {
	border-radius: 10px !important
}


/* IGNORE */
.right_odd {
	background: none !important
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */


.cave-grid,
.mound-grid {
	background: rgba(1, 1, 1, 0.5);
	border: none !important;
	border-radius: 10px !important
}


/* FEED ALL, PLAY ALL */


.feature {
	background: rgba(1, 1, 1, 0.5) !important;
	color: #000000 !important;
	border: 1px solid #000000 !important;
	border-radius: 10px !important
}


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */


.feature,
div.left {
	background: rgba(1, 1, 1, 0.5);
	border: none;
	border-radius: 10px !important
}


/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */


.table .left {
	background: rgba(1, 1, 1, 0.5);
        border-radius: 10px
}


/* Color behind the content of the elements listed above */


input,
select,
textarea {
	background: rgba(1, 1, 1, 0.5) !important;
	border: none !important;
	border-radius: 10px !important;
	color: #000000 !important;
	box-shadow: none !important;
	text-shadow: none !important
}


/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */


.item-header {
	background: rgba(1, 1, 1, 0.5) !important;
	color: #000000  !important;
	border-radius: 10px !important;
}


.item {
	background: rgba(1, 1, 1, 0.5) !important;
	border: none !important;
	border-radius: 10px !important
}


/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */


div.slider.round /* Background */ {
	background: #000000 !important
}


div.slider.round::before /* Circle Part */ {
	background: #000000 !important
}


/* Copyright, Terms of Service, CoC, etc. */


div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: none !important
}


/* LINK COLOR */


a:link,
a:visited {
	color: #ffffff !important
}


/* LINK HOVER COLOR */


a:hover {
	color: #ffffff !important
}




/* BOX CONTAINER */


.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}


/* BOXES */


.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}


.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}


.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}


/* HOVER BOXES */


.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}


.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}


.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}


.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}


.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}


.largehoverbox:hover {
	height: 150px;
	width: 90%;
}


/* SCROLL BAR */


/* WIDTH */


::-webkit-scrollbar {
	width: 10px
}




/* BACKGROUND */


::-webkit-scrollbar-track {
	background: #ffffff
}




/* "THUMB" */


::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 10px
}




/* LION AND USER AVATAR OPACITY */


div#lion_image {
	opacity: 1
}


table#player img {
	opacity: 1
}




/* CIRCULAR LION AND USER AVATAR */


div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}


table#player img {
	border-radius: 50% !important;
	overflow: hidden
}




/* LIODEN LOGO REPLACER */


div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('LOGO REPLACER URL')
}


/* CAVE / MOUND IMAGES */


div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('IMAGE URL') !important
}


a[href$="CAVE ID"]>div.cave-grid>img {
	content: url('IMAGE URL') !important
}


a[href$="lionoverview.php?id=PLAYER ID"]>div.cave-grid>img /* Pride Overview */ {
	content: url('IMAGE URL') !important
}


a[href$="unsorted.php?id=PLAYER ID"]>div.cave-grid>img /* Unsorted */ {
	content: url('IMAGE URL') !important
}


.mound-grid img /* Mound(s) */ {
	background: url("IMAGE URL");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}


/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */


@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}


@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
/* FORCE ROUNDED CORNERS — LIODEN OVERRIDE */

.panel,
.container.main,
.topbar,
.navbar,
.breadcrumb,
.table,
.feature,
.item,
.item-header,
.cave-grid,
.mound-grid,
.smallbox,
.mediumbox,
.largebox,
.smallhoverbox,
.mediumhoverbox,
.largehoverbox,
input,
select,
textarea {
	border-radius: 12px !important;
	overflow: hidden;
}
/* CUSTOM CURSOR + OVERRIDE */

body,
a,
button,
input,
select,
textarea {
	cursor: url('https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Lioden%20Custom%20Cursor%202.png'), auto !important;
}
/* FORCE SOFT FONT */

body,
h1, h2, h3,
.panel,
.table,
.navbar,
.topbar,
.breadcrumb,
input,
select,
textarea,
button {
	font-family: 'Quicksand', sans-serif !important;
}
/* FORCE FONT — LIODEN OVERRIDE */

*,
body,
div,
span,
p,
a,
li,
ul,
ol,
table,
th,
td,
.panel,
.navbar,
.topbar,
.breadcrumb,
input,
select,
textarea,
button,
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif !important;
}
/* FORCE BACKGROUND IMAGE — LIODEN OVERRIDE */

html,
body {
	background-image: url('https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Sunset%20Storm%20Background.avif') !important;
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}
/* FORCE WHITE TEXT — LIODEN OVERRIDE */

*,
body,
div,
span,
p,
a,
li,
ul,
ol,
table,
th,
td,
.panel,
.navbar,
.topbar,
.breadcrumb,
.sidebar,
.alert,
.progress,
.s-chat-message,
input,
select,
textarea,
button,
h1, h2, h3, h4, h5, h6 {
	color: #ffffff !important;
}
.progress div {
	color: #ffffff !important;
}
.breadcrumb::after {
	color: #ffffff !important;
}
a:hover {
	color: #EFA872 !important; /* sunset accent — change if you want */
}
/* FIXED SPRITE — BOTTOM RIGHT */

body::after {
	content: "";
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 180px;        /* adjust size here */
	height: 180px;       /* keep same as width for no distortion */
	background-image: url('https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Lion%20Sprite%20(Lioden)%20copy.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 9999;
	pointer-events: none;
}
/* PROGRESS BAR FILL COLOR */

.progress-bar,
.progress-bar-success,
.progress-bar-warning,
.progress-bar-danger,
.progress-bar-info {
	background-color: #67767D !important;
	background-image: none !important;
}
/* SIDEBAR SECTION TITLES (Achievements, Bookmarks, etc.) */

.sidebar h2,
.sidebar h3,
.sidebar .panel-heading,
.sidebar .panel-title,
h2,
h2 a {
	color: #ffffff !important;
}
/* TOP NAV HEADER TEXT — FORCE WHITE */

.navbar,
.navbar li a,
.navbar-default .navbar-nav > li > a {
	color: #ffffff !important;
}
.navbar li a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	color: #ffffff !important;
	background-color: transparent !important;
}
/* LION THOUGHTS / FLAVOR TEXT */

center > div.center.b,
center > b > span {
	color: #EFA872 !important;
}
/* FAKE LIODEN BUTTON */

#fake-lioden-button {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 9999;
}

#fake-lioden-button a {
    display: block;
    padding: 10px 18px;
    background: #05181E;
    color: #EFA872 !important;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none !important;
    border-radius: 10px;
    border: 2px solid #67767D;
    transition: all 0.3s ease;
}

#fake-lioden-button a:hover {
    background: #67767D;
    color: #05181E !important;
    border-color: #EFA872;
}

/* === NAVBAR SIZE LOCK === */
.navbar {
    height: 70px !important;
    min-height: 70px !important;
    padding: 0 !important;
    position: relative;
    overflow: visible !important;
}
/* ─── Top-left anchored header art (Katie-base safe, Safari-safe) ─── */

/* Ensure the top bar can be overlapped */
.topbar {
    position: relative !important;
    overflow: visible !important;
}

/* Decorative art image */
.topbar::before {
    content: "";
    position: absolute;
    top: -55px;          /* overlap above the bar */
    left: 12px;
    width: 160px;
    height: 160px;
    background-image: url("https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Kenyan%20Flower%20(Lioden).png");
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 10000;
}

/* Push navigation text to the right */
.topbar ul,
.topbar .nav,
.topbar nav {
    padding-left: 180px !important;
}
