body {
    background-image: url("https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Sunset%20Storm%20Background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
