body {
    background-image: url("https://raw.githubusercontent.com/User1283764/Sunset-Storm-Den/main/Sunset%20Storm%20Background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col-md-9 {
    background-color: #05181E;
    border: 5px solid #67767D;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
}
.col-md-3 {
    background-color: #1C3039;
    border: 5px solid #67767D;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
}
a {
    color: #EFA872;
}

a:hover {
    color: #FFFFFF;
}
